<div class="container">
  <div class="row">
    <h2>Homepage</h2>
    <div class="col-md-2"></div>
    <div class="col-md-8"></div>

  </div>
</div>


<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 22%;
    border-radius: 5px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  img {
    border-radius: 5px 5px 0 0;
  }

  .container {
    padding: 2px 16px;
  }
</style>


<div class="row">
  <div class="col-md-6">
    <br>
    <br>
    <br>
    <h3 style="font-size: 32px;

    font-weight: bold;">Current Statistics</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="card" style="width: 20rem;">
          <h1 style="text-align: center;

        background-color: black;
        color: white;
        margin: 0;
        ">Total Positions</h1>
          <div style="background-color: #f7f7f7;">
            <div style="
        text-align: center;
        font-size: 36px;
        font-weight: bold;">{{this.rows}}</div>
            <p style="
        text-align: center;
        color: #919191;
        font-size: 16px;
        font-weight: 400;
        text-align: center;">Positions</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card" style="width: 20rem;">
          <h1 style="text-align: center;

        background-color: black;
        color: white;
        margin: 0;
        ">Total Employees</h1>
          <div style="background-color: #f7f7f7;">
            <div style="    background-color: #f7f7f7;
        text-align: center;
        font-size: 36px;
        font-weight: bold;">{{this.rows2}}K</div>
            <p style="
        text-align: center;
        color: #919191;
        font-size: 16px;
        font-weight: 400;">Employees</p>
          </div>
        </div>
      </div>

    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="width: 20rem;">
          <h1 style="text-align: center;
        padding: 13px;
        background-color: black;
        color: white;
        margin: 0;">Total Salary</h1>
          <div style="background-color: #f7f7f7;">
            <div style="    background-color: #f7f7f7;
        text-align: center;
        font-size: 36px;
        font-weight: bold;">{{this.rows3}}
              Billion</div>
            <p style="
        text-align: center;
        color: #919191;
        font-size: 16px;
        font-weight: 400;">Dollars</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card" style="width: 20rem;">
          <h1 style="
        text-align: center;
        padding-bottom: 5px;
        background-color: black;
        color: white;
        margin: 0;">Total Departments</h1>
          <div style="background-color: #f7f7f7;">
            <div style="    background-color: #f7f7f7;
        text-align: center;
        font-size: 36px;
        font-weight: bold;">{{this.rows4}}</div>
            <p style="
        text-align: center;
        color: #919191;
        font-size: 16px;
        font-weight: 400;">Units</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <table>
      <br>
      <br>
      <br>
      <center>
        <h3 style="font-size: 32px;
    font-weight: bold;">Number of Employees Hired By Year</h3>
      </center>

      <tr>
        <th>Year</th>
        <th>Employees</th>
      </tr>

      <tr>
        <td>1985</td>
        <td>{{this.rows5}}</td>
      </tr>

      <tr>
        <td>1986</td>
        <td>{{this.rows6}}</td>
      </tr>

      <tr>
        <td>1987</td>
        <td>{{this.rows7}}</td>
      </tr>

      <tr>
        <td>1988</td>
        <td>{{this.rows8}}</td>
      </tr>

      <tr>
        <td>1989</td>
        <td>{{this.rows9}}</td>
      </tr>

      <tr>
        <td>1990</td>
        <td>{{this.rows10}}</td>
      </tr>

      <tr>
        <td>1991</td>
        <td>{{this.rows11}}</td>
      </tr>

      <tr>
        <td>1992</td>
        <td>{{this.rows12}}</td>
      </tr>

      <tr>
        <td>1993</td>
        <td>{{this.rows13}}</td>
      </tr>

      <tr>
        <td>1994</td>
        <td>{{this.rows14}}</td>
      </tr>

      <tr>
        <td>1995</td>
        <td>{{this.rows15}}</td>
      </tr>

      <tr>
        <td>1996</td>
        <td>{{this.rows16}}</td>
      </tr>

      <tr>
        <td>1997</td>
        <td>{{this.rows17}}</td>
      </tr>

      <tr>
        <td>1998</td>
        <td>{{this.rows18}}</td>
      </tr>

      <tr>
        <td>1999</td>
        <td>{{this.rows19}}</td>
      </tr>

      <tr>
        <td>2000</td>
        <td>{{this.rows20}}</td>
      </tr>

      <tr>
        <td>2001</td>
        <td>{{this.rows21}}</td>
      </tr>

      <tr>
        <td>2002</td>
        <td>{{this.rows22}}</td>
      </tr>

      <tr>
        <td>2003</td>
        <td>{{this.rows23}}</td>
      </tr>

      <tr>
        <td>2004</td>
        <td>{{this.rows24}}</td>
      </tr>

      <tr>
        <td>2005</td>
        <td>{{this.rows25}}</td>
      </tr>

      <tr>
        <td>2006</td>
        <td>{{this.rows26}}</td>
      </tr>

      <tr>
        <td>2007</td>
        <td>{{this.rows27}}</td>
      </tr>

      <tr>
        <td>2008</td>
        <td>{{this.rows28}}</td>
      </tr>

      <tr>
        <td>2009</td>
        <td>{{this.rows29}}</td>
      </tr>

      <tr>
        <td>2010</td>
        <td>{{this.rows30}}</td>
      </tr>

      <tr>
        <td>2011</td>
        <td>{{this.rows31}}</td>
      </tr>

      <tr>
        <td>2012</td>
        <td>{{this.rows32}}</td>
      </tr>

      <tr>
        <td>2013</td>
        <td>{{this.rows33}}</td>
      </tr>

      <tr>
        <td>2014</td>
        <td>{{this.rows34}}</td>
      </tr>

      <tr>
        <td>2015</td>
        <td>{{this.rows35}}</td>
      </tr>

      <tr>
        <td>2016</td>
        <td>{{this.rows36}}</td>
      </tr>

      <tr>
        <td>2017</td>
        <td>{{this.rows37}}</td>
      </tr>

      <tr>
        <td>2018</td>
        <td>{{this.rows38}}</td>
      </tr>

    </table>
  </div>
</div>
</body>
</body>
