<style>
    input:focus
{
    outline:none;
}

input[type="text"]
{
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    background-color: #f7f7f7;
    padding: 8px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

button{
    background-color: #427fbf;
    padding: 8px;
    font-size: 20px;
    color: white;
    transition: 0.3s
}


button:hover
{
    background-color: #912525;
}


</style>

<div class="container">
    <div class="row">

        <form action="/managers" method="post">

                <div style="display: flex;">
                  <h2>Search Managers</h2>
                    <input style="" type="text" name="s_searchName" placeholder="Enter name to be searched... (ex. Parto Bamford)" value="{{s_searchName}}" /><br />
                    <button class="search" type="submit">
                        <i class="fa fa-search"></i></button>
                </div>

        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-12" style="overflow-y:auto;">
      <br>
        <table>
            <thead>
                <tr>
                    <th scope="col">Employee ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Hire Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each employees}}
                <tr>
                    <th scope="row">{{this.emp_no}}</th>
                    <td>{{this.first_name}}</td>
                    <td>{{this.last_name}}</td>
                    <td>{{this.birthday}}</td>
                    <td>{{this.hiredate}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
